.logo {
  width: 140px;
  margin: 0 auto;
  display: block;
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-align: center;
}

.subtitle {
  text-align: center;
}

p {
  margin-bottom: 1rem;
}
